body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.mirror-background {
  background: linear-gradient(45deg, #ffffff, #f0f0f0); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: linear-gradient(45deg, #191970, #8f94fb);
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  text-align: center;
}

.instructions-container {
  color: white;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  color: #333;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
}

button {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



#password-form {
  background: linear-gradient(to right, #001f3f, #00a38f); /* Royal navy to royal green gradient */
  padding: 20px;
  border-radius: 10px;
}

#password-length,
#lowercase,
#uppercase,
#numeric,
#special {
  background: linear-gradient(to right, #001f3f, #00a38f); /* Royal navy to royal green gradient */
  color: #fff; /* White text for visibility */
  border: 1px solid #00ffcc;
}

#password-display-container {
  margin-top: 20px;
  max-height: 100px; /* Adjust the max-height as needed */
  max-width: 100%; /* Prevent horizontal overflow */
  overflow-y: auto;
  overflow-x: auto; /* Enable horizontal scrolling if necessary */
  padding: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #001f3f, #00a38f); /* Royal navy to royal green gradient */
}

#password-display {
  white-space: nowrap; /* Prevent line breaks within the password */
  color: #fff; /* White text for visibility */
}

#password-display:hover {
  background-color: #f0f0f0; /* Highlight on hover for better UX */
}





footer {
  text-align: center;
  margin-top: 20px;
  color: #00ffcc;
  padding: 10px;
  border: 2px solid #00ffcc;
  border-radius: 5px;
}
