body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("luca-bravo-a_hPPrncGlQ-unsplash.jpg");
  background-size: cover;
  z-index: -1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  background: linear-gradient(45deg, #191970, #8f94fb);
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto; /* Center the container */
  position: relative;
  z-index: 1;
}

h1 {
  color: #333;
  text-align: center;
}

.instructions-container {
  color: white;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  color: white;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
  color: white;
}

button {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#password-form {
  background: linear-gradient(to right, #001f3f, #00a38f);
  /* Royal navy to royal green gradient */
  padding: 20px;
  border-radius: 10px;
}

#password-length,
#lowercase,
#uppercase,
#numeric,
#special {
  background: linear-gradient(to right, #001f3f, #00a38f);
  /* Royal navy to royal green gradient */
  color: white;
  /* White text for visibility */
  border: 1px solid #00ffcc;
}

#password-display-container {
  margin-top: 20px;
  max-height: 100px;
  /* Adjust the max-height as needed */
  overflow-y: auto;
  overflow-x: auto;
  /* Enable horizontal scrolling if necessary */
  padding: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to right, #001f3f, #00a38f);
  /* Royal navy to royal green gradient */
}

#password-display {
  white-space: nowrap;
  /* Prevent line breaks within the password */
  color:white;
  /* White text for visibility */
}

#password-display:hover {
  background-color: #f0f0f0;
  /* Highlight on hover for better UX */
}

footer {
  margin-top: auto;
  /* Push footer to the bottom */
  text-align: center;
  color: #00ffcc;
  padding: 10px;
  border: 2px solid #00ffcc;
  border-radius: 5px;
}
input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

#password-display {
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
}

#password-display:hover {
  background-color: #f0f0f0;
}

button {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
