body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.mirror-background {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: linear-gradient(45deg, #ffffff, #f0f0f0);
  border: 2px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #333;
  text-align: center;
}

.instructions-container {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  color: #333;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
}

button {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#password-display-container {
  margin-top: 20px;
  max-height: 100px; /* Adjust the max-height as needed */
  overflow-y: auto;
  overflow-x:scroll;
  padding: 10px;
  border: 1px solid #00ffcc;
  border-radius: 5px;
  cursor: pointer;
}

#password-display {
  word-wrap: break-word;
  color: #333;
}

#password-display:hover {
  background-color: #f0f0f0; /* Highlight on hover for better UX */
}



footer {
  text-align: center;
  margin-top: 20px;
  color: #00ffcc;
  padding: 10px;
  border: 2px solid #00ffcc;
  border-radius: 5px;
}
